@model List<ChessBookStore.web.Models.Author>
@{
    ViewData["Title"] = "Authors";
}

<h2>Автори</h2>

<table class="table">
    <thead class="">
        <tr>
            <th>Ім'я:</th>
            <th>Ім'я англійською мовою:</th>
            <th>Редагування:</th>
        </tr>
    </thead>
    @foreach (var author in Model)
    {
        <tr>
            <td>@author.Name</td>
            <td>@author.NameEn</td>
            <td><a asp-action="EditAuthor" asp-route-id="@author.Id" class="btn btn-warning">Змінити</a></td>
        </tr>
    }
</table>